tensorflow==2.11.1
tensorflow-addons==0.20.0
tensorflow-decision-forests==1.2.0
tensorflow-estimator==2.11.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-probability==0.19.0
tensorflowjs==4.4.0
tensorstore==0.1.35
json2onnx==2.0.2
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchmetrics==0.11.4
torchvision==0.14.1+cu116
onnx==1.13.1
onnx-graphsurgeon==0.3.26
onnx-tf==1.10.0
onnx2json==2.0.4
onnx2keras==0.0.24
onnx2tf==1.9.8
onnxruntime==1.13.1
onnxsim==0.4.17
sam4onnx==1.0.13
sbi4onnx==1.0.4
scc4onnx==1.0.5
scs4onnx==1.0.18
sde4onnx==1.0.0
sed4onnx==1.0.5
simple-onnx-processing-tools==1.1.18
sio4onnx==1.0.2
sit4onnx==1.0.7
sna4onnx==1.0.6
snc4onnx==1.0.11
snd4onnx==1.1.6
sne4onnx==1.0.11
sng4onnx==1.0.1
soa4onnx==1.0.3
soc4onnx==1.0.2
sod4onnx==1.0.0
sog4onnx==1.0.15
sor4onnx==1.0.5
ssc4onnx==1.0.4
ssi4onnx==1.0.2
svs4onnx==1.0.0